* {
  box-sizing: border-box;
}

body {
  background: url("wall.jpg");
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  color: #d0be6b;
  margin-top: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 100%;
  max-width: 100%;
  padding: 0;
  margin: 1rem 0;
  text-align: center;
  position: relative;
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  src: url("fa-brands-400.eot");
  src: url("fa-brands-400.eot?#iefix") format("embedded-opentype"), url("fa-brands-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Font Awesome 5 Free';
  src: url("fa-solid-900.eot");
  src: url("fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fa-solid-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
.social {
  position: absolute;
  right: 15px;
  top: 0;
  list-style-type: none;
}
.social li {
  margin-bottom: 0.5rem;
}
.social li a {
  display: inline-block;
  padding: 0.5rem;
  background: #498fcc;
  border-radius: 5px;
  color: white;
  transition: all 0.3s;
}
.social li a:hover {
  background: #376B99;
}
@media (max-width: 576px) {
  .social {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .social li {
    margin: 0 0.25rem;
  }
}

.fab {
  font-family: 'Font Awesome 5 Brands';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-align: center;
  width: 1.25em;
}
.fab.fa-facebook-f::before {
  content: "\f39e";
}
.fab.fa-twitter::before {
  content: "\f099";
}
.fab.fa-linkedin-in::before {
  content: "\f0e1";
}
.fab.fa-instagram::before {
  content: "\f16d";
}
.fab.fa-youtube::before {
  content: "\f167";
}

.fas {
  font-family: 'Font Awesome 5 Free';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-align: center;
  width: 1.25em;
}

[aria-label="music"].play .fas::before {
  content: "\f028";
}

[aria-label="music"].pause .fas::before {
  content: "\f6a9";
}
